**/bin/
**/obj/
artifacts/
.vs/
.vscode/
.idea/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
*.log
TestResults/
coverage/
coverage.*
web/isaac/node_modules/
web/isaac/dist/
Thumbs.db
.DS_Store
